page-parking-lot {
    .scroll-content{
		margin-top: 50px;
		text-align: center;
		// hide the scrollbar
		overflow-y: hidden !important;
    }
    
    #enterButton{
        background-color: green;
    }
}
